
.wrapper {
    width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
  }
  .wrapper > div {
    flex: 1 1 150px;
  }

.header{
    overflow: hidden;
    height: 100px;
    background-color: burlywood;
    background-repeat:repeat;
    background-size:contain ;
    display: inline-flexbox;
    
}
.searchBar{
    float: right;
}